.recommandMenu {
    width: 100px;
    height: 30px;
    background-color: tomato;
    border: none;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}