
react-app/node_modules/.cache/default-development/0.pack
react-app/node_modules/.cache/default-development/0.pack
react-app/node_modules/.cache/default-development/1.pack
react-app/node_modules/.cache/default-development/index.pack
react-app/node_modules/.cache/default-development/index.pack.old
